.Contenaire{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    // gap: 20px;
    align-items: center;
    padding-right: 5px;
    box-sizing: border-box;

    .bigBloc::-webkit-scrollbar{
        display: none;
    }
    .bigBloc{
        width: 81%;
        height: 95%;
        border-radius: 20px;
        background-color: white;
        overflow-y: scroll;
        overflow-x: hidden;
        // padding: 10px;
        // margin-left: 10px;
    }
}

@media screen and (max-width: 900px) {
    .Contenaire{
        padding-right: 10px;
        width: 100%;
    
        .bigBloc{
            width: calc(100% - 70px);
        }
    }
}